.flexed{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

     
}
.center{ 
    width: 800px;
    height: 525px;
    margin: 0 auto;   
    margin-top: 20px;
    background-color: #858383;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-item-form{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

h2{
    color: aliceblue;
}

.colR{
    padding-top: 20px;
    width: 70%;
}

.colL{
    padding-top: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.file-input{
    width: 98%;
    border: black 1px solid;
    height: 280px;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.37);
    padding: 5px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.file-input::file-selector-button {

  background: #00c3ff94;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.nome, .prezzo{
    border-radius: 5px;
    background-color: #242424;
    color: white;
    height: 25px;
    width: 80%;
    padding: 5px;
    margin-top: 25px;
}

.prezzo{
    margin-top: 10px;
}

.tag{
    border-radius: 5px;
    background-color: #242424;
    color: white;
    height: 25px;
    padding: 5px;
    margin-top: 10px;
    
}

.descrizione{
    border-radius: 5px;
    background-color: #242424;
    color: white;
    width: 80%;
    height: 100px; 
    padding: 5px;  
    margin-top: 10px;
}

.submit-btn{
    background-color: #00c3ff94;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    width: 20%;
    height: 40px;
}

.prewiewOwner{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}