.flexed{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

     
}
.center{ 
    width: 900px;
    height: 400px;
    margin: 0 auto;   
    margin-top: 20px;
    background-color: #858383;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-item-form{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

h2{
    color: aliceblue;
}

.colR{
    width: 40%;
}

.colL{
    width: 40%;
    height: 75%;

}

.file-input{
    width: 100%;
    border: black 1px solid;
    height: 250px;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.37);
    border-radius: 10px;

}

.file-input::file-selector-button {

  background: #00c3ff94;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.nome, .prezzo{
    border-radius: 5px;
    background-color: #242424;
    color: white;
}

.tag{
    border-radius: 5px;
    background-color: #242424;
    color: white;
}

.descrizione{
    border-radius: 5px;
    background-color: #242424;
    color: white;
    
}

.submit-btn{
    background-color: #00c3ff94;
}
