#bar-conteiner {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 7%;
    place-items: center;
}

#bar {
    background-color: #858383;
    margin: auto;
    height: 60px;
    width: 50%;
    padding: 10px;
    border-radius: 100px;
}

.icon {
    height: 60%;
    width: auto;
    margin-top:15px;
}

#bar input {
    border: none;
    background-color: #858383;
    font-size: 40px;
    width: 90%;
    outline: none;
    box-shadow: none;
    transition: none !important;

}
